.curve__underline {
    position: relative;
    margin-right: 1rem;
}

.curve__underline:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 7px;
    width: 100%;
    border: solid 2px grey;
    border-color: grey transparent transparent transparent;
    border-radius: 30%;
}